<!DOCTYPE html>
<html>

<head>
  <title>Cadastro de Cliente</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="http://localhost:3000/inicio">Home</a></li>
        <li><a href="http://localhost:3000/cadastro">Cadastro</a></li>
        <li><a href="http://localhost:3000/blog">Blog</a></li>
        <li><a href="https://web.whatsapp.com/">Contato</a></li>
      </ul>
      <div class="search-bar">
        <div class="search-input-wrapper">
          <input type="text" class="search-input" placeholder="Pesquisar">
          <i class="fas fa-search search-icon"></i>
        </div>
      </div>
    </nav>
  </header>


  <h1>Bem-vindo à Loja de E-Móveis</h1>

  <hr>

  <html>

  <head>
    <title>Página Inicial</title>

  </head>

  <div class="banner">
    <div class="banner-slides">
      <div class="banner-slide">
        <img src="/public/mesa.jpeg" alt="Banner 1" style="width: 100%; height: 500px;">
      </div>
      <div class="banner-slide">
        <img src="/public/th.jpeg" alt="Banner 2" style="width: 100%; height: 500px;">
      </div>
      <div class="banner-slide">
        <img src="/public/cadeiras.jpeg" alt="Banner 3" style="width: 100%; height: 500px;">
      </div>
    </div>
  </div>

  </html>



  <div class="products">
    <h2>Produtos em Destaque</h2>
    <div class="product">
      <img src="public/th.jpeg" alt="Mesa">
      <h3>Mesa</h3>
      <p>Mesa De Canto Laca Offwhite Polida 40cm Com Altura De 60cm
        185 reales
        <b> R$
          185
          em 6x 30 reales con 83 centavos
          R$
          30
          ,
          83
          sem juros.</b>
      </p> <button type="button" class="botao-comprar" id="botao-1">Comprar</button>

    </div>
    <div class="product">
      <img src="public/cadeiras.jpeg" alt="Mesa">
      <h3>Cadeira</h3>
      <p>Cadeira com braços para jardim em alumínio metalizado.
        <b> R$ 799,90 /cada
          R$ 799,90 em até 7x de R$ 114,27 sem juros. compe agora</b>
      </p>
      <button type="button" class="botao-comprar" id="botao-1">Comprar</button>

    </div>
    <div class="product">
      <img src="public/th.jpeg" alt="Mesa">
      <h3>Mesa</h3>
      <p>Mesa De Canto Laca Offwhite Polida 40cm Com Altura De 60cm
        185 reales
        <b>R$
          185
          em 6x 30 reales con 83 centavos
          R$
          30
          ,
          83
          sem juros.</b>
      </p>
      <button type="button" class="botao-comprar" id="botao-1">Comprar</button>

    </div>
    <div class="product">
      <img src="public/cadeiras.jpeg" alt="Mesa">
      <h3>Cadeira</h3>
      <p>Cadeira com braços para jardim em alumínio metalizado. <b> R$ 799,90 /cada
          R$ 799,90 em até 7x de R$ 114,27 sem juros. compe agora.</b>
      </p>
      <button type="button" class="botao-comprar" id="botao-1">Comprar</button>
    </div>
    <div class="product">
      <img src="public/th.jpeg" alt="Mesa">
      <h3>Mesa</h3>
      <p>Mesa De Canto Laca Offwhite Polida 40cm Com Altura De 60cm
        185 reales
        <b> R$
          185
          em 6x 30 reales con 83 centavos
          R$
          30
          ,
          83
          sem juros.</b>
      </p> <button type="button" class="botao-comprar" id="botao-1">Comprar</button>


  </div>

  <script src="/javascript/script.js"></script>
  <script src="/clientes.json"></script>
</body>

</html>

<footer>
  <!DOCTYPE html>
<html>
  <head>
    <title>Ícones de Redes Sociais</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
      .social-icons {
        display: flex;
        justify-content: center;
      }

      .social-icons a {
        margin-right: 20%;
        color: #333;
        text-decoration: none;
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </body>
</html>
<hr>

  <p>&copy; 2023 Meu Blog. Todos os direitos reservados.</p>
</footer>